{% extends 'base.html' %} 

{% block content %}
<div class="container-fluid head">
    <div class="row">
        <div class="col-md-12">
            <h1>Beatz Hub </h1>
            <p>The power of music</p>
        </div>
        <div class="demo">
            <a href="#second"><span></span>Scroll</a>
        </div>
    </div>
</div>

<div class="col-md-12 second" name="video" id="second">
    <h3>When words fail, music speaks</h3>
    <video class="vida" poster="https://m.cdn.sera.to/rane-12-72/posters/masthead_poster_landscape.jpg" autoplay muted loop>
        <source src="https://m.cdn.sera.to/rane-12-72/videos/masthead_landscape_1mb.mp4" type="video/mp4">
    </video>
</div>

<div class="container-fluid third">
    <div class="container">
        <h2 class="text-center">What we do</h2>
        <h4 class="text-center">Our passion is music</h4>
        <div class="row center">
            <div class="col-md-5">
                <img src="{{url_for('static',filename='Images/image10.jpg')}}">
            </div>
            <div class="col-md-5">
                <p>If you are an upcoming artist or new to the industry, using beats hub you can post your most recent demo
                    at the artists channel and let our team of proffessionals be the judges thus eventually we can find the
                    best producer that suits you, who can coach you accordingly as well as advice on the way forward.
                    <br> If your work is exempraly we have contacts to major local record labels ready to sign, writers and voice
                    coaches who are more than willing to tap your talent nurture and develop it to greater heights.
                    <br> Let
                    <strong>Beats-hub</strong> do the search work for you and be your partners on your path to greatness.</p>
                <br>
                <ul>
                    <a href="#" class="myButton">Interact</a>
                    <a href="#" class="myButton">Featured Artists</a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row center">
            <div class="col-md-5">
                <img src="{{url_for('static',filename='Images/image11.jpg')}}">
            </div>
            <div class="col-md-5">
                <p>Beats-hub is the best onestop platform to access clean extended exclusive music files from oldschool to modern
                    in all genres. Save yourself the research hustle and rely the task on us and access content at an affordable
                    subscription fee
                    <br> Access high quality extended audio file formats as well as video formats and save yourself the hustle
                    of re-editing, for conviniency and efficiency purposes.
                    <br> Performing djs who wish to do remixes and mash-ups to spice things up you are also catered for where
                    you can access high quality 3-pieces straight from the producers in accordance to copyrights laws.
                    <br> Let's impact the growth of local african talent to greater heights.</p>
                <br>
                <ul>
                    <a href="#" class="myButton">Interact</a>
                    <a href="#" class="myButton">Featured Djs</a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row center">
            <div class="col-md-5">
                <img src="{{url_for('static',filename='Images/image12.jpg')}}">
            </div>
            <div class="col-md-5">
                <p>Get to interact in a community of passionate producers and learn from others as they learn from your contributions.
                    Get to meet new talented artists and work with them to make great exempolary work. Also get to interact
                    with djs and gain feed back off your music projects incoorporate the feedback to our work and improve
                    your craft as you rise to the top.
                    <br> Get updates on the latest trends in software changes and development as well as hardware from
                    <strong>Beats-hub</strong> and gain the best from us.
                    <br>
                    <br>
                    <ul>
                        <a href="#" class="myButton">Interact</a>
                        <a href="#" class="myButton">Featured Producers</a>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <br>
    <div class="images">
        <img src="{{url_for('static',filename='Images/facebook1.png')}}" width="40px" height="40px">
        <img src="{{url_for('static',filename='Images/twitter1.png')}}" width="40px" height="40px">
        <img src="{{url_for('static',filename='Images/linkedin.png')}}" width="40px" height="40px">
    </div>

    <div id="Contact" class="tabcontent">

        <a href="mailto:beatshub@gmail.com ">
            <h4>Contact us :+254729383248</h4>
        </a>

    </div>

    <div id="Policy" class="tabcontent">
    </div>

    <div id="Work" class="tabcontent">
    </div>

    <div id="Legal" class="tabcontent">
    </div>

    <p>A world class music platform</p>
    <p>Beats hub 2018.All rights reserved.</p>
    <br>

    <a href="#" class="float">
        <i class="fa fa-envelope my-float"></i>
    </a>
    <div class="label-container">
        <div class="label-text">Feedback</div>
        <i class="fa fa-play label-arrow"></i>
    </div>


</div>

{% endblock %}